body {
	background-color: #f8d891 ;
}





h2 {
	font-family: "Shizuru", system-ui ;
	color: #7faeb0;
	font-size: 100px;
	text-align: center;

}


#heartletters {
	width: 400px;
	/*THERE IS POSITION, ABSOLUTE, RELATIVE, FIXED, STICKY*/
	position: fixed;
	top: 150px;
	left: 5px;
	opacity: 100%;
}


#paperairplane {
	width: 500px;
	/*THERE IS POSITION, ABSOLUTE, RELATIVE, FIXED, STICKY*/
	position: fixed;
	top: 300px;
	left: 1000px;
	opacity: 100%;
}



.container {background-color: #f8d891;
	width: 600px;
		text-align: center;
		margin: 0 auto;
		padding: 30px;
		}