

body {
	display: flex;
	flex-direction: column;
	align-items: center;

	background-color: #EFEBCE;

font-family: "Hiragino Mincho Pro";
font-size: 15px;
font-style: normal;
line-height: normal;
display: flex;
		  justify-content: center;
margin-bottom: 60px;
}



h1 {
	font-family: "Shizuru", system-ui;
	color: #BB8588;
	font-size: 120px;
	text-align: center;
	letter-spacing: -8px;
    line-height: 160px;
    margin-bottom: 0px;
}



h1:hover {
	color: #BB8588;
	font-size: 130px;
	font-family: "League Script", cursive;
    font-weight: 400;
    font-style: normal;
}

h2 {
	color:#BB8588;
	font size: 20px;
	font-family: "EB Garamond", serif;
	font font-weight: 400;
}

h3 {
	color:#BB8588;
	font size: 20px;
	font-family: "EB Garamond", serif;
	font font-weight: 400;
}


	.container {background-color: #EFEBCE;
		width: 500px;
		text-align: center;
		margin: 0 auto;
		padding: 30px;

	}

#para {	color:#BB8588;
	font size: 50px;
	font-family: "EB Garamond", serif;
	font font-weight: 400;

}

#paragraph1 {
	color:#BB8588;
	font size: 10px;
	font-family: "EB Garamond", serif;
	font font-weight: 400;

}



.grow-image img {
    width: 700px;          /* starting size */
    transition: transform 0.3s ease;  /* smooth animation */
}

.grow-image img:hover {
    transform: scale(1.2); /* grows by 20% on hover */
    cursor: pointer;
}
