body {
  margin: 0;
  padding: 0;
  background: #FFFFFF;
}

.slideshow {
  position: absolute;
  width: 50%;
  height: 100vh;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Makes image fill the container */
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide.active {
  opacity: 1;
  z-index: 1;
}




.moving-text {
  position: absolute;
  top: 50%;
  white-space: nowrap;
  font-size: 5rem;
  color: #4D3155;
  animation: moveText 5s linear infinite;
}

@keyframes moveText {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}