
body {
	background-color: #EDE0C3;

font-family: "Hiragino Mincho Pro";
font-size: 15px;
font-style: normal;
line-height: normal;
display: flex;
		  justify-content: center;
}

	.grow-image {
			display: flex;
	flex-direction: column;
	align-items: center;
	
	}
	.grow-image img:hover {
    transform: scale(1.2); /* grows by 20% on hover */
    cursor: pointer;
}





#thread {	position: absolute;
	width: 300px;
	top: 400px;
	left: 700px;

}


#tag {
	width: 400px;
	/*THERE IS POSITION, ABSOLUTE, RELATIVE, FIXED, STICKY*/
	position: fixed;
	top: 250px;
	left: 200px;
	opacity: 70%;
}








.fade-text {
		color: #751414;
	font-size: 80px;
	font-family: "Shizuru", system-ui;
    opacity: 0;
    transition: opacity 1.5s ease; /* controls fade speed */
    cursor: pointer;
}

.fade-text.show {
    opacity: 1;
}





h2 {
	font-family: "Hiragino Mincho Pro";
	color: #751414;
	font-size: 30px;
	text-align: center;

}


#paragraph1 {
	background-color: #EDE0C3;
	font-family: "Hiragino Mincho Pro";
	color: #751414;
}

#paragraph2 {
	background-color: #EDE0C3;
	font-family: "Hiragino Mincho Pro";
	color: #751414;
}

.container {background-color: #EDE0C3;
		width: 600px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding: 30px}
		
img#myImage {
  width: 150px;
   display: block;
  margin: 0 auto; /* horizontally center block elements */
  padding: 30px;
  
}

