	

	body {background-color: #395080; 
		  color: #faeece;
		  font-family:"EB Garamond", serif;
		  margin: 60px
		  
}




.grow-image {
			display: flex;
	flex-direction: column;
	align-items: center;
	
	}
	.grow-image img:hover {
    transform: scale(1.2); /* grows by 20% on hover */
    cursor: pointer;
}






.hover-container {
  position: relative;
  width: 300px;
  height: 400px;
}

.hover-container img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

.hover-img {
  opacity: 0;
}

.hover-container:hover .hover-img {
  opacity: 1;
}

.hover-container:hover .default-img {
  opacity: 0;
}







	h1 {
		font-size: 100px;
		font-family:  "Shizuru", system-ui;
		color: #faeece;
	text-align: center;
	letter-spacing: -8px;
	line-height: 160px;
	margin-bottom: 0px;
padding-bottom: 50px;
	}





	h2 {
		font-family: "Shizuru", system-ui;
		font-size: 60px}


  
}



	a {color: #faeece;
		font-size: 30px}

	#secondparagraph {color: #faeece;}


	.container {background-color: #395080;
		width: 600px;
		text-align: center;
		margin: 0 auto;
		padding: 30px;

	}

	img#myImage {
  width: 150px;
   display: block;
  margin: 0 auto; /* horizontally center block elements */
  padding: 30px;
  
}





