	

	body {background-color: #BAC9CC; 
		  color: #3c5f6e;
		  margin: 60px
		  display: flex;
		  justify-content: center;}








.grow-image {
			display: flex;
	flex-direction: column;
	align-items: center;
	
	}
	.grow-image img:hover {
    transform: scale(1.2); /* grows by 20% on hover */
    cursor: pointer;
}







	h1 {font-size: 60px;
font-family:  "Shizuru", system-ui;
	}

	a {color: #3c5f6e;}

	#secondparagraph {color: #3c5f6e;}




#cd {
    width: 600px;
    animation: spin 0.5s linear infinite;
    animation-play-state: paused;
    cursor: pointer;
}

#cd.active {
    animation-play-state: running;
}

@keyframes spin {
    to { transform: rotate(360deg);}
}

